.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
	*border:none;
	*overflow: visible;
	*filter: chroma(color=#000);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-default {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  background-image: -moz-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0, #ebebeb 100%);
}
.btn-default:link, .btn-default:visited, .btn-default:hover {
  color: #4d4d4d;
}
.btn-default:hover {
  background-color: #eaeaea;
}
.btn-default:hover {
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0, #e3e3e3 100%);
}
.btn-default:active {
  background-image: -moz-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #e3e3e3 0, #f2f2f2 100%);
}

.btn-primary {
  color: #fff;
  background-color: #e6454a;
  border: 1px solid #d94146;
  background-image: -moz-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -webkit-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -o-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: linear-gradient(to bottom, #f2494e 0, #d94146 100%);
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  color: #fff;
}
.btn-primary:hover {
  background-color: #e4383d;
}
.btn-primary:hover {
  background-image: -moz-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -webkit-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -o-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: linear-gradient(to bottom, #f13b40 0, #d6343a 100%);
}
.btn-primary:active {
  background-image: -moz-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -webkit-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -o-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: linear-gradient(to bottom, #d6343a 0, #f13b40 100%);
}

.btn-primary-light {
  color: #e5454a;
  background-color: #ffe0e1;
  border: 1px solid #ffb2b5;
  background-image: -moz-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -webkit-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -o-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: linear-gradient(to bottom, #ffe5e6 0, #ffd9da 100%);
}
.btn-primary-light:link, .btn-primary-light:visited, .btn-primary-light:hover {
  color: #e5454a;
}
.btn-primary-light:hover {
  background-color: #ffd1d2;
}
.btn-primary-light:hover {
  background-image: -moz-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -webkit-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -o-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: linear-gradient(to bottom, #ffd6d7 0, #ffcacb 100%);
}
.btn-primary-light:active {
  background-image: -moz-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -webkit-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -o-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: linear-gradient(to bottom, #ffcacb 0, #ffd6d7 100%);
}

.btn-sub {
  color: #785206;
  background-color: #f9bc13;
  border: 1px solid #f2b10c;
  background-image: -moz-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -webkit-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -o-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: linear-gradient(to bottom, #ffc619 0, #f2b10c 100%);
}
.btn-sub:link, .btn-sub:visited, .btn-sub:hover {
  color: #785206;
}
.btn-sub:hover {
  background-color: #f6b706;
}
.btn-sub:hover {
  background-image: -moz-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -webkit-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -o-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: linear-gradient(to bottom, #ffc20a 0, #e3a60b 100%);
}
.btn-sub:active {
  background-image: -moz-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -webkit-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -o-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: linear-gradient(to bottom, #e3a60b 0, #ffc20a 100%);
}

.btn-sub-light {
  color: #997300;
  background-color: #fff6da;
  border: 1px solid #f2d785;
  background-image: -moz-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -webkit-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -o-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: linear-gradient(to bottom, #fff9e5 0, #fff2cc 100%);
}
.btn-sub-light:link, .btn-sub-light:visited, .btn-sub-light:hover {
  color: #997300;
}
.btn-sub-light:hover {
  background-color: #fff2cb;
}
.btn-sub-light:hover {
  background-image: -moz-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -webkit-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -o-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: linear-gradient(to bottom, #fff5d6 0, #ffeebd 100%);
}
.btn-sub-light:active {
  background-image: -moz-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -webkit-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -o-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: linear-gradient(to bottom, #ffeebd 0, #fff5d6 100%);
}

.btn-info {
  color: #fff;
  background-color: #3f9de5;
  border: 1px solid #3f9de5;
  background-image: -moz-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: -webkit-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: -o-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: linear-gradient(to bottom, #3da3f2 0, #4198da 100%);
}
.btn-info:link, .btn-info:visited, .btn-info:hover {
  color: #fff;
}
.btn-info:hover {
  background-color: #4198da;
}
.btn-info:hover {
  background-image: -moz-linear-gradient(top, #4198da 0, #3da3f2 100%);
  background-image: -webkit-linear-gradient(top, #4198da 0, #3da3f2 100%);
  background-image: -o-linear-gradient(top, #4198da 0, #3da3f2 100%);
  background-image: linear-gradient(to bottom, #4198da 0, #3da3f2 100%);
}
.btn-info:active {
  background-image: -moz-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: -webkit-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: -o-linear-gradient(top, #3da3f2 0, #4198da 100%);
  background-image: linear-gradient(to bottom, #3da3f2 0, #4198da 100%);
}

.btn-info-light {
  color: #3692d9;
  background-color: #e2f2ff;
  border: 1px solid #a6d8ff;
  background-image: -moz-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -webkit-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -o-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: linear-gradient(to bottom, #ebf6ff 0, #d9eeff 100%);
}
.btn-info-light:link, .btn-info-light:visited, .btn-info-light:hover {
  color: #3692d9;
}
.btn-info-light:hover {
  background-color: #d3ebff;
}
.btn-info-light:hover {
  background-image: -moz-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -webkit-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -o-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: linear-gradient(to bottom, #dcefff 0, #cae7ff 100%);
}
.btn-info-light:active {
  background-image: -moz-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -webkit-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -o-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: linear-gradient(to bottom, #cae7ff 0, #dcefff 100%);
}

.btn-s {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 22px;
  _line-height: 17px;
}

.btn-m {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-m,
input.btn-m {
  height: 26px;
  _height: 21px;
  *line-height: 21px;
}

.btn-l {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-l,
input.btn-l {
  height: 32px;
  _height: 27px;
  *line-height: 27px;
}

.btn-xl {
  height: 34px;
  line-height: 34px;
  padding: 0 30px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-xl,
input.btn-xl {
  height: 36px;
  _height: 31px;
  *line-height: 31px;
}

.btn-xxl {
  height: 38px;
  line-height: 38px;
  padding: 0 35px;
  font-size: 16px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-xxl,
input.btn-xxl {
  height: 40px;
  _height: 35px;
  *line-height: 35px;
}

.btn-icon {
  position: relative;
  padding-left: 35px;
}
.btn-icon .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -6px;
}

.btn-group {
  overflow: hidden;
  *zoom: 1;
}
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
.btn-group .first {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}
.btn-group .last {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-group .active {
  background: #fff;
}

.btn-disabled,
.btn-disabled:hover {
  background-image: none;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  color: #999;
  cursor: default;
}

a.btn-disabled:link, a.btn-disabled:visited, a.btn-disabled:hover {
  color: #999;
}

/* yc btn */
.btn-green{
  color: #fff;
  background-color: #34a089;
  border: 1px solid #34a089;
  background-image: -moz-linear-gradient(top, #33a88f 0, #349a84 100%);
  background-image: -webkit-linear-gradient(top, #33a88f 0, #349a84 100%);
  background-image: -o-linear-gradient(top, #33a88f 0, #349a84 100%);
  background-image: linear-gradient(to bottom, #33a88f 0, #349a84 100%);
}
.btn-green:link,
.btn-green:visited{
	color:#fff;
}
.btn-green:hover{
	background:#39ae94;
	text-decoration:none;
}

.btn-white{
  color: #333;
  background-color: #fff;
  border: 1px solid #dedede;
}
.btn-white:link,
.btn-white:visited{
	color:#333;
}
.btn-white:hover{
	text-decoration:none;
}