@CHARSET "UTF-8";
/* Name recmd cata style
 * @author wangmei
 * @date 2015-4-16
*/
.search-menu-wrap {
  border: 1px solid #e0e0e0;
  margin: 0px auto;
  color: #666;
  background: #fff;
  position: absolute;
  z-index:999;
}
.search-menu-wrap .search-cata {
	margin-bottom:-1px;
	_margin:0;
  	border-bottom: 1px solid #e0e0e0;
}
.search-menu-wrap .search-cata li,
.search-menu-wrap .search-key li{
  padding: 0 10px;
  *height:26px;
  line-height: 26px;
  cursor:pointer;
}
.search-menu-wrap .search-cata span {
  color: #de373d;
  font-weight: bold;
}
.search-menu-wrap .search-key{
	padding-top:1px;
}
.search-menu-wrap .search-cata .hover,
.search-menu-wrap .search-key .hover{
  background: #f4f4f4;
}